.profile-grid{
  display: grid;
  grid-template-columns: 20% auto;
  background: #D75746;
  border-radius: 14px;
  min-height: 500px;
}

.row-border {
    border-bottom: solid 1px #67666e;
}
.lable {
    color: #67666e;
    min-width: 230px;
}

.profile-btn {
  display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}


.btn-block + .btn-block {
  margin-top: 0 !important;
}

/* Style the active class (and buttons on mouse-over) */
.active, .profile-btn:hover {
  background-color: white;
  color: black;
}

.profile-btn:hover {
  background-color: white;
  color: black;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 100%;
    border-left: none;
    background-color: #ffffff;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: solid 1px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}


.profile-content{
  width: 100%;
  padding:10px;
}

.profile-menu{
    float: left;
    background-color: #D75746;
    width: 20%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.avatar-account {
    width: 60px;
    height: 60px;
    margin: 16px;
    border-radius: 50%;
    text-align: center;
    -o-object-fit: cover;
    object-fit: cover;
}


.menu-icon {
    font-weight: bold;
    margin: 0px 16px 16px;
    border-radius: 4px;
    height: 33px;
    width: 33px;
    text-align: center;
    padding: 15px 0px;
    display: block;
    filter: brightness(70%);
}

.profile-content.table th, .table td {
    border-bottom: 1px solid #dee2e6;
    border-top: none !important;
}



