<% @drinks_opportunities.each do |drinksopportunity| %>
          <% if current_user.id === drinksopportunity.venue.user_id %>
            <tr class="row-border">
              <td> <%= drinksopportunity.venue.venue_name %> </td>
              <td> <%= drinksopportunity.start_time %> </td>
              <td> <%= link_to "" , edit_drinks_opportunity_path(drinksopportunity), class:"fas fa-pencil-alt", style:"margin-right:10px;"%> </td>
              <td> <%= link_to "" , drinks_opportunity_path(drinksopportunity), class:"far fa-trash-alt", method: :delete %></td>
            </tr>
          <% end %>
        <% end %>
