
<div class="row p-5">
  <div class="table-responsive">
  <table class="table">
    <tbody>
      <tr class="row-border">
        <td class="label">First Name:</td>
        <td><%= current_user.first_name %> </td>
      </tr>
      <tr class="row-border">
        <td class="label">Last Name:</td>
        <td><%= current_user.last_name %> </td>
      </tr>
      <tr class="row-border">
        <td class="label">E-mail:</td>
        <td><%= current_user.email%> </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
