
<div class="row p-5">
  <div class="table-responsive">
  <table class="table">
    <tbody>
         <tr class="row-border">
          <td class="label"><strong>First Name:</strong></td>
          <td class="label"><strong>Last Name:</strong></td>
          <td class="label"><strong>E-mail:</strong></td>
        </tr>
         <tr class="row-border">
              <td><%= current_user.first_name %></td>
              <td><%= current_user.last_name %></td>
              <td> <%= current_user.email%></td>
            </tr>
    </tbody>
  </table>

      <div class="col-md-4">
      <%= link_to "Create Venue", new_venue_path, class: "btn btn-auction" %>
    </div>

</div>
</div>



