<div class="row p-5">
  <div class="table-responsive">
    <table class="table">

      <tbody>
        <tr class="row-border">
          <td class="label">Venue Name:</td>
           <td class="label">Region:</td>
           <td class="label">City:</td>
           <td class="label">Postal code:</td>
           <td class="label"> </td>
           <td class="label"> </td>
        </tr>

       <% @venues.each do |venue| %>
         <% if current_user.id === venue.user_id %>
            <tr class="row-border">
              <td><%= link_to venue.venue_name, venue_path(venue)%> </td>
              <td> <%= venue.region %> </td>
              <td> <%= venue.city%> </td>
            </tr>
         <% end %>
       <% end %>
      </tbody>

    </table>
  </div>
</div>

