<h1>My bids</h1>

<div class="container mt-2">
<h2>Bids</h2>
  <div class="row d-flex">

    <% @bids.each do |bid| %>
      <% if current_user.id === bid.user_id %>
        <div class="col-12 col-md-6">
          <div class="card-product">

            <div>

              <div class="profile-info">
                 <h2> <%= link_to bid.venue_name , bid_path(bid), style:"margin-right:10px;"%></h2>
              </div>
              <div class="profile-actions">

                <%= link_to "" , edit_venue_path(bid), class:"fas fa-pencil-alt", style:"margin-right:10px;"%>

                <%= link_to "" , venue_path(bid), class:"far fa-trash-alt", method: :delete %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


