<h1>My venues</h1>

<div class="container mt-2">
<h2>Venues</h2>
  <div class="row d-flex">

    <% @venues.each do |venue| %>
      <% if current_user.id === venue.user_id %>
        <div class="col-12 col-md-6">
          <div class="card-product">

            <div>

              <div class="profile-info">
                 <h2> <%= link_to venue.venue_name , venue_path(venue), style:"margin-right:10px;"%></h2>
              </div>
              <div class="profile-actions">

                <%= link_to "" , edit_venue_path(venue), class:"fas fa-pencil-alt", style:"margin-right:10px;"%>

                <%= link_to "" , venue_path(venue), class:"far fa-trash-alt", method: :delete %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


