.banner {
  background-image: linear-gradient(#eb9b65,rgba(255, 255, 255, 0.1)), url(#);
  width: auto;
  height: 500px;
}

.banner h1 {
  font-size: 100px;
  padding: 70px 40px;
}

.banner p {
  font-size: 50px;
  font-weight: 100;
  padding: 10px 120px;
}
