.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.nav-wrapper{
  background: #ffffff;
  border-bottom: solid 0.4px rgba(63, 63, 63, 0.315);
}

.sign-up-button {
  color: white !important;
}