.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.nav-wrapper{
  background: #ffffff;
}

.sign-up-button {
  color: white !important;
}

#nav-tab:hover {
  color: grey;
}

.filter-bar {
  background-color: rgb(235, 232, 232);
  max-height: 30px;
}

#filter-tabs {
  
  justify-content:space-between;
  color: black!important;
  align-items: center;
  font-size: 12px;
}

.filter-tabs-row {
 margin: 0% 175px;
}

.filter-tabs-row a{
  color: black;
  background-color: #F4F4F4;
 }