.navbar-lewagon {
  justify-content: space-between;
  background: #eb9b65;
  border-bottom: solid 0.4px rgba(63, 63, 63, 0.315);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}
